# --- DATABASE CONFIG ---
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/pbl5_db

# --- AI CONFIG ---
GEMINI_API_KEY=Gõ_Key_Của_Thầy_Vào_Đây //bo sung sau khi co key
ALGORITHM=HS256
SECRET_KEY=Chuỗi_Bất_Kỳ_Để_Mã_Hóa_JWT //bo sung sau khi co key

# --- APP CONFIG ---
ACCESS_TOKEN_EXPIRE_MINUTES=30