aiofiles==23.2.1
alembic==1.13.1
annotated-types==0.7.0
anyio==4.13.0
astor==0.8.1
async-timeout==5.0.1
asyncpg==0.29.0
attrdict==2.0.1
babel==2.18.0
bce-python-sdk==0.9.69
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
cachetools==7.0.5
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
contourpy==1.3.2
crc32c==2.8
cryptography==46.0.7
cssselect==1.4.0
cssutils==2.11.1
cycler==0.12.1
Cython==3.2.4
decorator==5.2.1
dnspython==2.8.0
ecdsa==0.19.2
email-validator==2.3.0
et_xmlfile==2.0.0
exceptiongroup==1.3.1
fastapi==0.110.0
filelock==3.25.2
fire==0.7.1
Flask==3.1.3
flask-babel==4.0.0
fonttools==4.62.1
fsspec==2026.3.0
future==1.0.0
google-ai-generativelanguage==0.6.2
google-api-core==2.29.0
google-api-python-client==2.194.0
google-auth==2.49.2
google-auth-httplib2==0.3.1
google-generativeai==0.5.2
googleapis-common-protos==1.73.0
greenlet==3.4.0
grpcio==1.80.0
grpcio-status==1.48.2
h11==0.16.0
httpcore==1.0.9
httplib2==0.31.2
httpx==0.28.1
idna==3.11
ImageIO==2.37.3
imgaug==0.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
kiwisolver==1.5.0
lazy-loader==0.5
lmdb==2.2.0
lxml==6.0.3
Mako==1.3.10
MarkupSafe==3.0.3
matplotlib==3.10.8
more-itertools==11.0.2
mpmath==1.3.0
networkx==3.4.2
numpy==1.26.4
opencv-contrib-python==4.6.0.66
openpyxl==3.1.5
opt-einsum==3.3.0
packaging==26.0
paddleocr==2.7.3
paddlepaddle==2.6.2
pandas==2.3.3
passlib==1.7.4
pdf2docx==0.5.12
pillow==10.3.0
premailer==3.10.0
proto-plus==1.27.1
protobuf==3.20.2
psutil==7.2.2
py-cpuinfo==9.0.0
pyasn1==0.6.3
pyasn1_modules==0.4.2
pyclipper==1.4.0
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
PyMuPDF==1.27.2.2
pyparsing==3.3.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
python-jose==3.5.0
python-multipart==0.0.9
pytz==2026.1.post1
PyYAML==6.0.3
qrcode==7.4.2
RapidFuzz==3.14.5
rarfile==4.2
requests==2.31.0
rsa==4.9.1
scikit-image==0.25.2
scipy==1.15.3
seaborn==0.13.2
shapely==2.1.2
six==1.17.0
soupsieve==2.8.3
SQLAlchemy==2.0.29
starlette==0.36.3
sympy==1.14.0
termcolor==3.3.0
thop==0.1.1.post2209072238
tifffile==2025.5.10
torch==2.2.2
torchvision==0.17.2
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2026.1
ultralytics==8.2.0
uritemplate==4.2.0
urllib3==2.6.3
uvicorn==0.29.0
visualdl==2.5.3
Werkzeug==3.1.8
